<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/_ah/channel/jsapi"></script>
        <script>
            var msgHandlers = new Array();
            function registerMessageHandler(func) {
                msgHandlers.push(func);
            }

            function onMessage(message) {
                for (var i=0; i<msgHandlers.length; i++) {
                    (msgHandlers[i])(message);
                }
            }
        </script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <script type="text/javascript">
            channel = new goog.appengine.Channel("{{ token }}");
            socket = channel.open();
            /*socket.onopen = onOpened;*/
            socket.onmessage = onMessage;
            /*socket.onclose = onClose;*/
        </script>
        {% block body %}{% endblock %}
    </body>
</html>
