{% extends "baselayout.html" %}
{% from "onlinelist.html" import onlineList %}
{% block head %}
        <script type-"text/javascript">
            function onMessage(message) {
                msg = eval("("+message.data+")");
                if (msg.on === 0) {
                    $("#online-list > #"+msg.uid).remove();
                } else {
                    $("#online-list").append("<li id="+msg.uid+">"+msg.nickname+"</li>");
                }
            }
        </script>
{% endblock %}
{% block body %}
        <script type="text/javascript">
            channel = new goog.appengine.Channel("{{ token }}");
            socket = channel.open();
            socket.onmessage = onMessage;
        </script>

        {% if user %}
            Chào {{ user.nickname() }}
            {{ onlineList(user, online_list) }}
        {% else %}
            <a href="{{ login_url }}">Đăng nhập</a>
        {% endif %}
{% endblock body %}
